// app global css in SCSS form
.revealSlowly {
  animation: cssAnimation 2s 0.5s forwards;
  opacity: 0;
  margin: auto;
  white-space: nowrap;
}

.revealSlower {
  animation: cssAnimation 2s 1s forwards;
  opacity: 0;
  margin: auto;
  white-space: nowrap;
}

.description {
  font-weight: lighter;
  animation: cssAnimation 2s 0.9s forwards;
  opacity: 0;
  margin: auto;
  white-space: nowrap;
}

@keyframes cssAnimation {
  to {
    opacity: 1;
  }
}

.scrollContent::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollContent {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
